{% extends 'layout.html.twig' %}

{% block maincontent %}

    <h1>Annuler une sortie</h1>

    <div>
        <p>Nom de la sortie : {{ sortie.nom }}</p>
        <p>Date de la sortie : {{ sortie.datedebut|date('d/m/Y') }}</p>
        <p>Ville organisatrice : {{ sortie.site }}</p>
        <p>Lieu : {{ sortie.lieu.ville }}</p>
        <p>Motif : </p>
        <textarea form="form" rows="5" cols="50"></textarea>
    </div>
    {{ form_start(form) }}

    {{ form_row(form.enregistrer, {'attr' : {'class' : 'pure-button pure-button-primary'}}) }}
    {{ form_widget(form.annuler, {'attr' : {'class' : 'pure-button pure-button-primary'}}) }}

    {{ form_end(form) }}

{% endblock %}

