{% extends "layout.html.twig" %}

{% block maincontent %}
    <h4 class="infosDroite">Date du jour : {{ "now"|date("d/m/Y") }}</h4>
    <h4 class="infosDroite">Participant : {{ app.user.prenom }} {{  app.user.nom }}</h4>
    <h5>Filtrer les sorties</h5>
    <form method="post">
        <div class="row">
            <div class="form-group col-lg-4">
                <label for="site">Site : </label>
                <select name="site" id="site">
                    {% for site in sites %}
                        <option>
                            {{ site.nomSite }}
                        </option>
                    {% endfor %}
                </select>
                <label for="nomSortie">Le nom de la sortie contient : </label>
                <input type="search" class="form-control" id="nomSortie" name="nomSortie">
                <label for="dateDebut">Entre : </label>
                <input type="date" class="form-control" id="dateDebut" name="dateDebut">
                <label for="dateFin">et : </label>
                <input type="date" class="form-control" id="dateFin" name="dateFin">
            </div>
            <div class="form-group col-lg-4">
                <label for="filtresCheck">Sorties dont je suis l'organisateur/trice</label>
                <input type="checkbox" id="filtresCheck" name="filtresCheck">
                <label for="filtresCheck2">Sorties auxquelles je suis inscrit/e</label>
                <input type="checkbox" id="filtresCheck2" name="filtresCheck2">
                <label for="filtresCheck3">Sorties auxquelles je ne suis pas inscrit/e</label>
                <input type="checkbox" id="filtresCheck3" name="filtresCheck3">
                <label for="filtresCheck4">Sorties passées</label>
                <input type="checkbox" id="filtresCheck4" name="filtresCheck4">
            </div>
            <div class="form-group col-lg-4">
                <input type="submit" value="Rechercher">
            </div>
        </div>
    </form>
{% endblock %}

{% block recherche %}
<<<<<<< HEAD
=======
    {{ dump(app.user) }}
>>>>>>> master
    <div class="col-lg-12">
        <table class="search">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>État</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            {% for sortie in sorties %}
                <td>
                    {{ sortie.nom }}
                </td>
                <td>
                    {{ sortie.datedebut|date('d/m/Y H\\Hi') }}
                </td>
                <td>
                    {{ sortie.datecloture|date('d/m/Y') }}
                </td>
                <td>
                    /{{ sortie.nbinscriptionsmax }}
                </td>
                <td>
                    {{ sortie.etat }}
                </td>
                <td>

                </td>
                <td>
                    <a href="{{ path('profil_participant', {'id': app.user.id}) }}">{{ sortie.organisateur }}</a>
                </td>
                <td>
                    <a href="{{ path('sortie_detailSortie', {"id": sortie.id}) }}">Afficher</a>
                </td>
            {% endfor %}
        </table>
    </div>
<<<<<<< HEAD
    <input type="submit" value="Créer une sortie">
=======
    <a href="{{ path('sortie_creerSortie') }}"><input type="submit" value="Créer une sortie"></a>
>>>>>>> master
{% endblock %}